* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  background-color: rgb(50, 50, 50);
  color: rgb(50, 212, 0);
  font-family: VT323;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  background-color: rgb(50, 50, 50);
  width: 100%;
}

#scoreboard {
  display: flex;
  align-items: flex-start;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.user-scoreboard,
.cpu-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.score-label {
  text-transform: uppercase;
  font-size: 1.2em;
}

.user-score,
.cpu-score {
  font-size: 3em;
  text-align: center;
  margin-top: -10px;
}

#results {
  width: 90%;
  height: 600px;
  border: 1px dotted rgb(50, 212, 0);
  margin-top: 10px;
  transition: all 0.5s linear;
}

.game-type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.game-btn {
  font-family: inherit;
  background-color: rgb(75, 75, 75);
  color: rgb(50, 212, 0);
  border: 1px dotted rgb(50, 212, 0);
  font-size: 1.5em;
  height: 50px;
  width: 75px;
  line-height: 1;
  padding: 0 5px;
  transition: all 0.08s linear;
}

.game-btn:hover {
  cursor: pointer;
}

#dialogue {
  text-align: justify;
  margin: 5% 6% 0;
  line-height: 1.5;
  font-size: 1.5em;
  white-space: pre-line;
}

#selections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  height: 160px;
}

.user-choice {
  font-family: inherit;
  text-transform: uppercase;
  border: 1px dotted rgb(50, 212, 0);
  font-size: 2em;
  width: 90%;
  text-align: center;
  background-color: rgb(75, 75, 75);
  color: rgb(50, 212, 0);
  font-weight: bold;
  transition: all 0.05s linear;
}

.user-choice:hover {
  cursor: pointer;
}

.btn-press,
.user-choice:active,
.game-btn:active {
  transform: scale(0.9);
  border: 1px dotted rgba(50, 212, 0, 0.7);
  background-color: rgba(75, 75, 75, 0.7);
}

@media only screen and (min-width: 400px) {
  .game-container {
    height: 600px;
  }

  #results {
    height: 400px;
  }

  #scoreboard {
    justify-content: center;
  }

  .user-scoreboard,
  .cpu-scoreboard {
    margin: 0 50px;
  }

  #dialogue {
    margin: 25px 10px 0;
  }

  #selections {
    margin-bottom: 40px;
    height: 175px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    background-color: rgb(245, 245, 220);
  }

  .container {
    margin: 30px 0;
  }

  .game-container {
    height: 525px;
    width: 600px;
    border-radius: 10px;
  }

  .user-scoreboard,
  .cpu-scoreboard {
    margin: 0 75px;
  }

  #results {
    height: 375px;
    width: 506px;
  }

  .game-btn {
    height: initial;
    width: initial;
    padding: 8px;
  }

  #dialogue {
    font-size: 1.5em;
  }

  #selections {
    flex-direction: row;
    height: 55px;
    margin-bottom: 5px;
  }

  .user-choice {
    font-size: 2.25em;
    padding: 0 26px;
    width: initial;
  }
}
